.modalBackground {
    display: flex;
    width: 10vw;
    height: 50vh;
    margin: 0;
    padding: 0;
    position: fixed;
    align-items: center;
    top: 10%;
    left: 35%;
}

.modalContainer {
    width: 25vw;
    height: 50vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(200,200,200);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border-radius: 12px;
}

.modalHeader {
    display: inline-block;
    text-align: center;
}

.modalBody {
    margin: 10px;
}

.modalFooter {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancelButton {
    background-color: crimson;
}