.App {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4vh;
  background: lightblue;
  border-radius: 8px;
}
.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  color: tan;
  font-size: 25px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
