.App {
    border-radius: 5px;
    background-color: #f2f2f2;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.hourLoggerTab {
    border: solid;
    border-color: darkgrey;
    background-color: white;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.tempButton {
    width: 100% !important;
    color: white !important;
    padding: 14px 20px !important;
    margin: 8px 0 !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
}

.popup-window {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.popup-box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}
